.form-content-assessment {
    height: 400px;
    overflow-x: auto;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 transparent;
}

.table-container-assessment {
    max-height: calc(100vh - 270px);
    min-height: 300px;
    overflow-y: auto;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 transparent;
}

.image-preview-box-option {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 6px;
    width: 150px;
    height: 150px;
    display: flex;
    margin-left: auto;
    justify-content: center;
    background-color: #fff;
}

.preview-image-option {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: contain;
}

/* bảng dữ liệu */
.table-container-assessment table {
    width: 100%;
    border-collapse: collapse;
}

.table-container-assessment th,
.table-container-assessment td {
    padding: 12px;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 200px;
}


/* Optional: Specific column widths */
.table-container-assessment th:nth-child(1),
.table-container-assessment td:nth-child(1) {
    width: 80px;
}

.table-container-assessment th:nth-child(2),
.table-container-assessment td:nth-child(2) {
    max-width: 200px;
}

.table-container-assessment th:nth-child(3),
.table-container-assessment td:nth-child(3) {
    max-width: 200px;
}

.table-container-assessment th:nth-child(4),
.table-container-assessment td:nth-child(4) {
    max-width: 100px;
}

.table-container-assessment th:nth-child(5),
.table-container-assessment td:nth-child(5) {
    max-width: 300px;
}

.table-container-assessment th:nth-child(6),
.table-container-assessment td:nth-child(6) {
    max-width: 100px;
}







.option-grid {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
}

.option-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
}

.option-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    border: 2px solid #ccc;
}

.answer-image {
    width: 80px !important;
    height: 80px !important;
    object-fit: cover;
    border-radius: 6px;
    border: 2px solid #ccc;
}

.assessment-image {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
    border: 2px solid #ccc;
}


.modal-content .ant-modal-content {
    border-radius: 10px;
    padding: 20px;
}

