.login {
    background: var(--background-gradient);
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wave {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/background.png');
    background-size: cover;
    opacity: 0.5;
}

.containtlogin {
    background: var(--background-white);
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: 320px;
    z-index: 10;
}

.titlelogin {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--color-text);
    text-align: center;
}

.subtitle {
    font-size: 14px;
    color: var(--sub-title);
    margin-bottom: 24px;
    text-align: center;
}

.contentlogin {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.labellogin {
    font-size: 16px;
    color: var(--label-login);
    margin-bottom: 4px;
    display: block;
}

.inputlogin {
    width: 100%;
    height: 50px;
    padding: 8px;
    border: 1px solid var(--filter-border);
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.inputlogin:focus {
    border-color: var(--border-input) !important;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

.forgotlabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.forgotpassword {
    font-size: 12px;
    color: var(--border-input);
    text-decoration: none;
}

.forgotpassword:hover {
    text-decoration: underline;
}

.buttonlogins {
    display: flex !important;
    justify-content: center !important;
}

.buttonlogin {
    width: 80% !important;
    height: 50px !important;
    padding: 8px !important;
    background-color: var(--border-input) !important;
    color: var(--color-textwhite) !important;
    border-radius: 6px !important;
    font-size: 14px !important;
    border: none !important;
    cursor: pointer !important;
}

.buttonlogin:hover {
    background-color: #2563eb !important;

}