.form-content-pupil {
    height: 400px;
    overflow-x: auto;
    scrollbar-width: none;
}

.table-container-pupil {
    max-height: 520px;
    overflow-y: auto;
    scrollbar-width: none;
}

/* Optional: Specific column widths */
.table-container-pupil th:nth-child(1),
.table-container-pupil td:nth-child(1) {
    width: 80px;
}

.table-container-pupil th:nth-child(2),
.table-container-pupil td:nth-child(2) {
    max-width: 200px;
    /* fullName */
}

.table-container-pupil th:nth-child(3),
.table-container-pupil td:nth-child(3) {
    max-width: 150px;
    /* email */
}

.table-container-pupil th:nth-child(4),
.table-container-pupil td:nth-child(4) {
    max-width: 200px;
    /* phoneNumber */
}

.table-container-pupil th:nth-child(5),
.table-container-pupil td:nth-child(5) {
    max-width: 150px;
    /* dateOfBirth */
}

.table-container-pupil th:nth-child(6),
.table-container-pupil td:nth-child(6) {
    max-width: 150px;
    /* dateOfBirth */
}

.table-container-pupil th:nth-child(7),
.table-container-pupil td:nth-child(7) {
    max-width: 150px;
    /* dateOfBirth */
}

.table-container-pupil th:nth-child(8),
.table-container-pupil td:nth-child(8) {
    max-width: 200px;
    /* dateOfBirth */
}

.table-container-pupil th:nth-child(9),
.table-container-pupil td:nth-child(9) {
    max-width: 100px;
    /* dateOfBirth */
}