.profile-container {
    background-color: #eeeeee;
    width: 80%;
    margin: 60px auto;
    padding: 30px;
    height: 100%;
    border-radius: 20px;
}

.avatar-section {
    text-align: center;
    margin-bottom: 20px;
}

.avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.upload-text {
    color: #3b82f6;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 10px;
    max-width: 700px;
    height: 300px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.inputprofile {
    width: 100% !important;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 8px;
    color: #333;
}

.form-group input,
.form-group select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    font-size: 15px;
}

.form-group input:disabled {
    color: #464646;
}

.btn-wrapper {
    text-align: center;
    margin-top: 15px;
}

.update-btn {
    background-color: #3b82f6;
    width: 120px;
    height: 40px;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.update-btn:hover {
    background-color: #2563eb !important;
    color: white !important;
}