.search {
    display: flex;
    align-items: center;
}

/* Form trong Modal */
.form-content-reward {
    height: 400px;
    overflow-x: auto;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 transparent;
    background-color: var(--background-form);
    /* Màu xanh nhạt đậm hơn cho phần nội dung */
    padding: 20px;
    border-radius: 8px;
}

.inputtext input,
.inputtext textarea {
    background-color: var(--background-form);
    color: var(--color-text);
    /* Màu trắng mặc định khi không hover/focus */
}

/* Khi hover hoặc focus, đổi chữ thành màu đen */
.inputtext input:hover,
.inputtext input:focus,
.inputtext textarea:hover,
.inputtext textarea:focus {
    color: var(--color-black) !important;
}

/* Đảm bảo placeholder giữ màu mặc định */
.inputtext ::placeholder {
    color: var(--color-card);
}

/* Khi nhập liệu, giữ chữ màu đen */
.inputtext input:not(:placeholder-shown),
.inputtext textarea:not(:placeholder-shown) {
    color: var(--color-black) !important;
}

/* Reset màu khi blur (rời focus) */
.inputtext input:not(:focus):not(:hover),
.inputtext textarea:not(:focus):not(:hover) {
    color:  var(--color-text) !important;
}

.ant-select-selector,
.ant-modal-header {
    background-color: var(--background-form) !important;
}

.ant-select-dropdown {
    background-color: var(--background-white) !important;
}

.ant-select-selection-placeholder,
.ant-select-item-option-content,
.ant-select-selection-item,
.ant-modal-title {
    color: var(--color-text) !important;
}

/* Ghi đè style cho viền ngoài của modal từ Ant Design */
.ant-modal-content {
    background-color: var(--background-form) !important;
    border-radius: 10px;
}

.table-container-reward {
    max-height: calc(100vh - 270px);
    min-height: 300px;
    overflow-y: auto;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 transparent;
}

.table-container-reward tbody tr:hover>td {
    background-color: var(--background-hover) !important;
}

.image-upload-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 8px;
}

.custom-upload-button {
    border: 1px solid #1890ff;
    height: 50px;
    background: #FFA500;
    padding: 10px 16px;
    gap: 8px;
    border-radius: 8px;
}

/* .custom-upload-button:hover {
    color: #FFA500 !important;
    background: #FFFFFF !important;
} */

/* Optional: Specific column widths */
.table-container-reward th:nth-child(1),
.table-container-reward td:nth-child(1) {
    width: 80px;
}

.table-container-reward th:nth-child(2),
.table-container-reward td:nth-child(2) {
    max-width: 220px;
}

.table-container-reward th:nth-child(3),
.table-container-reward td:nth-child(3) {
    max-width: 300px;
}

.table-container-reward th:nth-child(4),
.table-container-reward td:nth-child(4) {
    max-width: 150px;
}

.table-container-reward th:nth-child(5),
.table-container-reward td:nth-child(5) {
    max-width: 150px;
}

.table-container-reward th:nth-child(6),
.table-container-reward td:nth-child(6) {
    max-width: 100px;
}