.form-content-notification {
    height: 400px;
    overflow-x: auto;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 transparent;
}

.table-container-notification {
    max-height: calc(100vh - 270px);
    min-height: 300px;
    overflow-y: auto;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 transparent;
}

.table-container-notification table {
    width: 100%;
    border-collapse: collapse;
    /* Ensure borders are clean */
}

.table-container-notification th,
.table-container-notification td {
    padding: 12px;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 200px;
}

/* Specific column widths */
.table-container-notification th:nth-child(1),
.table-container-notification td:nth-child(1) {
    max-width: 50px;
}

.table-container-notification th:nth-child(2),
.table-container-notification td:nth-child(2) {
    max-width: 200px;
}

.table-container-notification th:nth-child(3),
.table-container-notification td:nth-child(3) {
    max-width: 200px;
}

.table-container-notification th:nth-child(4),
.table-container-notification td:nth-child(4) {
    max-width: 300px;
}

.table-container-notification th:nth-child(5),
.table-container-notification td:nth-child(5) {
    max-width: 150px;
}

.table-container-notification th:nth-child(6),
.table-container-notification td:nth-child(6) {
    max-width: 100px;
}