.form-content-exercise {
    height: 400px;
    overflow-x: auto;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 transparent;
}

.table-container-exercise {
    max-height: calc(100vh - 270px);
    min-height: 300px;
    overflow-y: auto;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 transparent;
}

.inputtexts {
    margin-top: 20px;
}

.option-text {
    position: relative;
    display: inline-block;
    border-radius: 12px;
    justify-content: center;
    margin-bottom: 20px;
}

/* Optional: Specific column widths */
.table-container-exercise th:nth-child(1),
.table-container-exercise td:nth-child(1) {
    width: 50px;
}

.table-container-exercise th:nth-child(2),
.table-container-exercise td:nth-child(2) {
    max-width: 400px;
    /* fullName */
}

.table-container-exercise th:nth-child(3),
.table-container-exercise td:nth-child(3) {
    max-width: 200px;
    /* email */
}

.table-container-exercise th:nth-child(4),
.table-container-exercise td:nth-child(4) {
    max-width: 250px;
}

.table-container-exercise th:nth-child(5),
.table-container-exercise td:nth-child(5) {
    max-width: 150px;
}