.form-content-exercise {
    height: 400px;
    overflow-x: auto;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 transparent;
}

/* .table-container-exercise {
    max-height: calc(100vh - 250px);
    min-height: 300px;
    overflow-y: auto;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 transparent;
}

.table-container-exercise2 {
    max-height: calc(100vh - 225px);
    min-height: 300px;
    overflow-y: auto;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: #B8B8B9 transparent;
} */

/* .table-container-exercise tbody tr:hover>td {
    background-color: var(--background-hover) !important;
} */

/* Container cho modal chi tiết */
.form-content-assessment-detail {
    padding: 20px;
    background-color: var(--color-bg-container);
    border-radius: 8px;
    max-height: 70vh;
    overflow-x: auto;
    scrollbar-width: none;
}

.detail-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
    padding: 12px;
    background-color: var(--date-picker-bg);
    border: 1px solid var(--divider);
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.detail-label {
    width: 150px;
    font-weight: 600;
    color: var(--color-text);
    font-size: 14px;
    margin-right: 16px;
    line-height: 1.5;
}

.detail-content {
    flex: 1;
    font-size: 14px;
    color: var(--color-text);
    line-height: 1.5;
}

.inputtexts {
    margin-top: 20px;
}

.option-text {
    position: relative;
    display: inline-block;
    border-radius: 12px;
    justify-content: center;
    margin-bottom: 20px;
}

.load-more-btn {
    height: 40px;
    border-radius: 8px;
    padding: 0 20px;
    overflow: hidden;
}

/* Optional: Specific column widths */
.table-container-exercise th:nth-child(1),
.table-container-exercise td:nth-child(1) {
    width: 50px;
}

.table-container-exercise th:nth-child(2),
.table-container-exercise td:nth-child(2) {
    max-width: 400px;
    /* fullName */
}

.table-container-exercise th:nth-child(3),
.table-container-exercise td:nth-child(3) {
    max-width: 200px;
    /* email */
}

.table-container-exercise th:nth-child(4),
.table-container-exercise td:nth-child(4) {
    max-width: 250px;
}

.table-container-exercise th:nth-child(5),
.table-container-exercise td:nth-child(5) {
    max-width: 150px;
}