.table-container-lessondetail {
    max-height: 520px;
    overflow-y: auto;
    scrollbar-width: none;
}

.table-container-lessondetail tbody tr:hover>td {
    background-color: var(--background-hover) !important;
}

.button-margin-left {
    margin-left: 15px;
}

.content-wrapper div {
    font-size: 14px !important;
    line-height: 1.5;
}

.ant-breadcrumb {
    padding-left: 20px;
    font-size: 16px;
}

.ant-breadcrumb span:last-child {
    color: var(--color-text);
    /* Gray color for the active item */
}

.ant-breadcrumb .ant-breadcrumb-separator {
    color: var(--color-text);
}

/* Optional: Specific column widths */
.table-container-lessondetail th:nth-child(1),
.table-container-lessondetail td:nth-child(1) {
    width: 100px;
}

.table-container-lessondetail th:nth-child(2),
.table-container-lessondetail td:nth-child(2) {
    max-width: 100px;
    /* fullName */
}

.table-container-lessondetail th:nth-child(3),
.table-container-lessondetail td:nth-child(3) {
    max-width: 300px;
    /* email */
}

.table-container-lessondetail th:nth-child(4),
.table-container-lessondetail td:nth-child(4) {
    max-width: 150px;
    /* phoneNumber */
}

.table-container-lessondetail th:nth-child(5),
.table-container-lessondetail td:nth-child(5) {
    max-width: 150px;
    /* dateOfBirth */
}

.table-container-lessondetail th:nth-child(6),
.table-container-lessondetail td:nth-child(6) {
    max-width: 100px;
    /* dateOfBirth */
}