.table-container-lessondetail {
    max-height: calc(100vh - 260px);
    min-height: 300px;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 transparent;
    overscroll-behavior: contain;
    touch-action: none;
}

.table-container-lessondetail tbody tr:hover>td {
    background-color: var(--background-hover) !important;
}

.button-margin-left {
    margin-left: 15px;
}

.content-wrapper div {
    font-size: 14px !important;
    line-height: 1.5;
}

.current-breadcrumb {
    font-weight: bold;
    color: var(--color-breadcrumb);
    /* padding: 2px 6px; */
}

.current-breadcrumb-title {
    color: var(--color-breadcrumb);
    /* padding: 2px 6px; */
}

.current-breadcrumb-title:hover {
    cursor: pointer;
    /* color: var(--color-breadcrumb-hover); */
    background-color: rgba(47, 128, 237, 0.1); /* nền xám nhẹ */
    /* border-radius: 4px; */
    /* padding: 2px 6px; */
    text-decoration: underline;
    transition: all 0.2s ease;
}

.ant-breadcrumb {
    padding-left: 20px;
    font-size: 16px;
}


/* Optional: Specific column widths */
.table-container-lessondetail th:nth-child(1),
.table-container-lessondetail td:nth-child(1) {
    width: 100px;
}

.table-container-lessondetail th:nth-child(2),
.table-container-lessondetail td:nth-child(2) {
    max-width: 100px;
    /* fullName */
}

.table-container-lessondetail th:nth-child(3),
.table-container-lessondetail td:nth-child(3) {
    max-width: 300px;
    /* email */
}

.table-container-lessondetail th:nth-child(4),
.table-container-lessondetail td:nth-child(4) {
    max-width: 150px;
    /* phoneNumber */
}

.table-container-lessondetail th:nth-child(5),
.table-container-lessondetail td:nth-child(5) {
    max-width: 150px;
    /* dateOfBirth */
}

.table-container-lessondetail th:nth-child(6),
.table-container-lessondetail td:nth-child(6) {
    max-width: 100px;
    /* dateOfBirth */
}

.emoji-picker-container {
    position: absolute;
    z-index: 1000;
    margin-top: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.form-content-lesson .inputtext {
    position: relative;
}