.table-container-lessondetail {
    max-height: 520px;
    overflow-y: auto;
    scrollbar-width: none;
}

.preview-image {
    max-width: 200px;
    max-height: 200px;
    border-radius: 8px;
    object-fit: contain;
}

.button-margin-left {
    margin-left: 15px;
}

.ant-breadcrumb {
    padding-left: 20px;
    font-size: 16px;
}

.ant-breadcrumb a {
    color: #1890ff;
}

.ant-breadcrumb a:hover {
    color: #40a9ff;
}

.ant-breadcrumb span:last-child {
    color: #595959;
    /* Gray color for the active item */
}

.ant-breadcrumb .ant-breadcrumb-separator {
    color: #595959;
}

/* Optional: Specific column widths */
.table-container-lessondetail th:nth-child(1),
.table-container-lessondetail td:nth-child(1) {
    width: 100px;
}

.table-container-lessondetail th:nth-child(2),
.table-container-lessondetail td:nth-child(2) {
    max-width: 100px;
    /* fullName */
}

.table-container-lessondetail th:nth-child(3),
.table-container-lessondetail td:nth-child(3) {
    max-width: 300px;
    /* email */
}

.table-container-lessondetail th:nth-child(4),
.table-container-lessondetail td:nth-child(4) {
    max-width: 150px;
    /* phoneNumber */
}

.table-container-lessondetail th:nth-child(5),
.table-container-lessondetail td:nth-child(5) {
    max-width: 150px;
    /* dateOfBirth */
}

.table-container-lessondetail th:nth-child(6),
.table-container-lessondetail td:nth-child(6) {
    max-width: 100px;
    /* dateOfBirth */
}