.containtverify {
    background: var(--background-white);
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    z-index: 10;
}

.contentverify {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.back-button {
    position: absolute;
    top: 250px;
    left: 560px;
    font-size: 24px;
    color: #1e1e1e;
    cursor: pointer;
    z-index: 20;
}

.back-button:hover {
    color: #3b82f6;
}

.otp-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.otp-input {
    width: 48px !important;
    height: 48px !important;
    text-align: center;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 18px;
    outline: none;
    font-family: var(--nunit-regular, "Nunito-Regular", sans-serif) !important;
}

.otp-input:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

:where(.otp-input) input {
    text-align: center;
    font-family: var(--nunit-regular, "Nunito-Regular", sans-serif) !important;
}

.buttonverifys {
    display: flex !important;
    justify-content: center !important;
}

.buttonverify {
    width: 80% !important;
    height: 50px !important;
    padding: 8px !important;
    background-color: #3b82f6 !important;
    color: white !important;
    border-radius: 6px !important;
    font-size: 14px !important;
    border: none !important;
    cursor: pointer !important;
    margin-top: 10px !important;
}

.buttonverify:hover {
    background-color: #2563eb !important;

}

.buttonverify:focus,
.buttonverify:active {
    background-color: #2563eb !important;
    border: none !important;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2) !important;
}