.table-container-test {
    max-height: 520px;
    overflow-y: auto;
    scrollbar-width: none;
}

.table-container-test table {
    width: 100%;
    border-collapse: collapse;
}

.table-container-test th,
.table-container-test td {
    padding: 12px;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 200px;
}
.table-container-test tbody tr:hover>td {
    background-color: var(--background-hover) !important;
    color: var(--color-hover);
}
/* Specific column widths */
.table-container-test th:nth-child(1),
.table-container-test td:nth-child(1) {
    width: 50px;
}

.table-container-test th:nth-child(2),
.table-container-test td:nth-child(2) {
    max-width: 150px;
    /* lessonName */
}

.table-container-test th:nth-child(3),
.table-container-test td:nth-child(3) {
    max-width: 150px;
    /* pupil fullName */
}

.table-container-test th:nth-child(4),
.table-container-test td:nth-child(4) {
    max-width: 120px;
    /* level */
}

.table-container-test th:nth-child(5),
.table-container-test td:nth-child(5) {
    max-width: 80px;
    /* point */
}

.table-container-test th:nth-child(6),
.table-container-test td:nth-child(6) {
    max-width: 80px;
    /* duration */
}

.table-container-test th:nth-child(7),
.table-container-test td:nth-child(7) {
    max-width: 100px;
    /* duration */
}