.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--background-sidebarheader);
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-border);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 3.95rem;
}


.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 2%;
}

.navbar-icon {
    margin-left: 20px;
    cursor: pointer;
}

.navbar-lang {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.navbar-lang::before {
    content: "🇬🇧";
    margin-right: 5px;
}

.navbar-user {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.language {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

select {
    margin: 0;
    padding: 5px;
    font-size: 14px;
    border: 1px solid var(--border-search);
    border-radius: 5px;
    outline: none;
}

.flag {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    color: var(--color-textwhite);
    font-weight: bold;
}

.user-role {
    color: var(--color-textwhite);
    font-size: 12px;
}