.app-container {
    display: flex;
    height: 100vh;
    background-color: #F8F8FF;
    overflow: hidden;
}

.sidebar {
    width: 14rem;
    background-color: var(--background-sidebar);
    display: flex;
    flex-direction: column;
}

.sidebar-divider {
    overflow-x: auto;
    scrollbar-width: none;
}
.content{
    background-color: var(--background-content);
}
.sidebar-header {
    padding: 1rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--color-textwhite);
    background-color: var(--background-sidebarheader);
}

.sidebar-nav {
    margin-top: 1.5rem;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-top: 0.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.8rem;
    height: 50px;
    color: var(--color-sidebar);
    text-decoration: none;
    font-size: 16px;
    gap: 1rem;
}

.sidebar-item:hover {
    background-color: var(--sidebar-item);
    color: var(--color-sidebaractive);
}

.sidebar-item.active {
    margin-left: 1.5rem;
    background-color: var(--sidebar-item);
    color: var(--color-sidebaractive);

}

.sidebar-icon {
    margin-top: 0.2rem;
    width: 17%;

}

.sidebar-divider {
    border-top: 1px solid var(--sidebar-divider);
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.sidebar-a {
    margin-left: 30px;
    color: #3366FF;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
}

.content {
    flex: 1;
}