.form-content-lesson {
    height: 380px;
    overflow-x: auto;
    scrollbar-width: none;
    
}

.custom-table .ant-table-thead>tr>th {
    position: sticky;
    top: 0;
    z-index: 10;
    color: var(--table-color);
    background: var(--background-tabled);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}

/* lesson.css */
.custom-table .ant-table-tbody>tr {
    transition: background-color 0.2s, transform 0.2s;
}

.custom-table .ant-table-tbody>tr:hover {
    cursor: grab;
    background-color: var(--background-hover);
    color: var(--color-hover);
}

.custom-table .ant-table-tbody>tr.dragging {
    background-color: #f0f0f0;
    transition: none;
    z-index: 1000;
}

.dragging-over {
    background-color: #e6f7ff;
    transition: background-color 0.2s;
}

.table-container-lesson {
    max-height: calc(100vh - 220px);
    min-height: 300px;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 transparent;
    overscroll-behavior: contain;
    touch-action: none;
}

.table-container-lesson::-webkit-scrollbar {
    width: 8px;
}

.table-container-lesson::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 4px;
}

.table-container-lesson::-webkit-scrollbar-track {
    background: transparent;
}

.table-container-lesson tbody tr:hover>td {
    background-color: var(--background-hover) !important;
}

/* Specific column widths */
.table-container-lesson th:nth-child(1),
.table-container-lesson td:nth-child(1) {
    width: 80px;
}

.table-container-lesson th:nth-child(2),
.table-container-lesson td:nth-child(2) {
    max-width: 150px;
}

.table-container-lesson th:nth-child(3),
.table-container-lesson td:nth-child(3) {
    max-width: 100px;
}

.table-container-lesson th:nth-child(4),
.table-container-lesson td:nth-child(4) {
    max-width: 100px;
}

.table-container-lesson th:nth-child(5),
.table-container-lesson td:nth-child(5) {
    width: 450px;
}

.table-container-lesson th:nth-child(6),
.table-container-lesson td:nth-child(6) {
    max-width: 80px;
}